# Configuration file

##########################################################################################################
# item_book;0
#--------------------------------------------------------------------------------------------------------#
# Book
##########################################################################################################

"item_book;0" {
    B:enabled=true
    I:max_spawn_count=3
    I:min_spawn_count=1
    I:spawn_weight=20
}


##########################################################################################################
# item_compass;0
#--------------------------------------------------------------------------------------------------------#
# Compass
##########################################################################################################

"item_compass;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=1
}


##########################################################################################################
# item_emptymap;0
#--------------------------------------------------------------------------------------------------------#
# Empty Map
##########################################################################################################

"item_emptymap;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=1
}


##########################################################################################################
# item_enchantedbook;0
#--------------------------------------------------------------------------------------------------------#
# Enchanted Book
##########################################################################################################

"item_enchantedbook;0" {
    B:enabled=true
    I:max_spawn_count=5
    I:min_spawn_count=1
    I:spawn_weight=2
}


##########################################################################################################
# item_factorization:tool/matrix_programmer;0
#--------------------------------------------------------------------------------------------------------#
# Logic Matrix Programmer
##########################################################################################################

"item_factorization:tool/matrix_programmer;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=35
}


##########################################################################################################
# item_iguana_tcon_wearable_bathat;3
#--------------------------------------------------------------------------------------------------------#
# Bat Hat
##########################################################################################################

"item_iguana_tcon_wearable_bathat;3" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=0
    I:spawn_weight=1
}


##########################################################################################################
# item_infitool_broadsword;0
#--------------------------------------------------------------------------------------------------------#
# Broadsword
##########################################################################################################

"item_infitool_broadsword;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=0
    I:spawn_weight=2
}


##########################################################################################################
# item_nukevirus;0
#--------------------------------------------------------------------------------------------------------#
# Nuke Virus
##########################################################################################################

"item_nukevirus;0" {
    B:enabled=true
    I:max_spawn_count=4
    I:min_spawn_count=1
    I:spawn_weight=10
}


##########################################################################################################
# item_paper;0
#--------------------------------------------------------------------------------------------------------#
# Paper
##########################################################################################################

"item_paper;0" {
    B:enabled=true
    I:max_spawn_count=7
    I:min_spawn_count=2
    I:spawn_weight=20
}


##########################################################################################################
# item_randombook;0
#--------------------------------------------------------------------------------------------------------#
# Dusty Book
##########################################################################################################

"item_randombook;0" {
    B:enabled=true
    I:max_spawn_count=5
    I:min_spawn_count=1
    I:spawn_weight=4
}


##########################################################################################################
# item_stopworm;0
#--------------------------------------------------------------------------------------------------------#
# STOP! -Worm
##########################################################################################################

"item_stopworm;0" {
    B:enabled=true
    I:max_spawn_count=4
    I:min_spawn_count=1
    I:spawn_weight=10
}


##########################################################################################################
# oc:item_floppydisk;60
#--------------------------------------------------------------------------------------------------------#
# Floppy Disk
##########################################################################################################

"oc:item_floppydisk;60" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=5
}


##########################################################################################################
# tile_mfr_rubberwood_sapling_sacred;1
#--------------------------------------------------------------------------------------------------------#
# Sacred Rubber Sapling
##########################################################################################################

"tile_mfr_rubberwood_sapling_sacred;1" {
    B:enabled=true
    I:max_spawn_count=2
    I:min_spawn_count=1
    I:spawn_weight=1
}


